/*
 jQuery Datepicker Style Custom
*/

.inp {
    width: 180px;
    height: 30px;
    background: url(/static/assets/img/calendar-btn.png) no-repeat 95% 50% #fff;
    background-size: 17px;
    cursor: pointer;
}

.inp:focus {
    outline: none;
}


.ui-datepicker .ui-datepicker-header {
    position: relative;
    margin: 5px 0 25px 0;
}

.ui-datepicker .ui-datepicker-header > a {
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    background: url('../../img/datepicker-btns.png') 50% no-repeat;
    background-size: 46px;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next:hover {
    background-color: transparent;
    border: transparent;
}

.ui-datepicker .ui-datepicker-header > a.ui-datepicker-prev {left: 0; background-position: -8px;}
.ui-datepicker .ui-datepicker-header > a.ui-datepicker-next {right: 0; background-position: -25px;}

.ui-datepicker .ui-datepicker-header > a .ui-icon {
    font-size: 0;
}

.ui-icon-circle-triangle-e { background-position: -20px;} 
.ui-icon-circle-triangle-w { background-position: 5px;} 



.ui-datepicker .ui-datepicker-title {
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    padding: 0px;
    font-weight: bold;
}

#datepicker:focus>.ui-datepicker {
    display: block;
}

.ui-datepicker-title {
    text-align: center;
    padding: 0;
}

.ui-datepicker-calendar {
    width: 100%;
}

.ui-datepicker {
    display: none;
    background-color: #fff;
    margin-top: -1px;
    padding: 15px;
    width: 300px;
}

.ui-widget.ui-widget-content {
    border: 1px solid #ced4da;
}

.ui-datepicker th {
    font-size: 14px;
    font-weight: 500;
}
.ui-datepicker th:first-of-type {
    color: #eb2323;
}
.ui-datepicker th:last-of-type {
    color: #364FC7;}

.ui-datepicker td span, .ui-datepicker td a {
    padding: 0;
}

.ui-datepicker td {
    padding: 4px 0;
    text-align: center;
}
.ui-datepicker td:first-of-type a {
    color: #eb2323;
}

.ui-datepicker td span, .ui-datepicker td a {
    display: inline-block;
    width: 26px;
    height: 26px;
    line-height: 24px;
    border-radius: 100%;
    font-size: 14px;
    font-weight: 400;
    color: #495057;
    text-align: center;
    cursor: pointer;
}


.ui-state-default,
.ui-widget-content .ui-state-default {
    background-color: #fff;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    background: #364FC7;
    color: #fff !important;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    border: none;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    background-color: #eee;
    color: #333 !important;
}