/*
 jQuery Datepicker Style Custom
*/

.inp {
    width: 180px;
    height: 46px;
    padding: 0 20px;
    background: url(/static/assets/img/calendar-btn.png) no-repeat 90% 50% #fff;
    background-size: 22px;
    border: 1px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
}

.inp:focus {
    outline: none;
}


.ui-widget-header {
    border: none;
    background: #fff;
}

.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: 0;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 50%;
    width: 2rem;
    height: 2rem;
    transform: translateY(-50%);
    cursor: pointer;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next:hover {
    background-color: transparent;
    border: transparent;
}

.ui-datepicker .ui-datepicker-prev {left: 0;}
.ui-datepicker .ui-datepicker-next {right: 0;}

.ui-widget-header .ui-icon {
    background-image: url('../../img/datepicker-btns.png');
    background-size: 46px;
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;    
}
.ui-icon-circle-triangle-e { background-position: -20px;} 
.ui-icon-circle-triangle-w { background-position: 5px;} 



.ui-datepicker .ui-datepicker-title {
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    padding: 0px;
    font-weight: bold;
}

#datepicker:focus>.ui-datepicker {
    display: block;
}

.ui-datepicker-title {
    text-align: center;
    padding: 0;
}

.ui-datepicker-calendar {
    width: 100%;
}

.ui-datepicker {
    display: none;
    background-color: #fff;
    border-radius: 8px;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 20px;
    padding-bottom: 10px;
    width: 300px;
}

.ui-widget.ui-widget-content {
    border: 1px solid #eee;
}

.ui-datepicker th {
    font-weight: 500;
}
.ui-datepicker th:first-of-type {
    color: #eb2323;
}
.ui-datepicker th:last-of-type {
    color: #c26af5;}

.ui-datepicker td span, .ui-datepicker td a {
    padding: 0;
}

.ui-datepicker td {
    padding: 4px 0;
    text-align: center;
}
.ui-datepicker td:first-of-type a {
    color: #eb2323;
}

.ui-datepicker td span, .ui-datepicker td a {
    display: inline-block;
    width: 26px;
    height: 26px;
    line-height: 24px;
    border-radius: 100%;
    font-size: 12px;
    font-weight: normal;
    color: #333;
    text-align: center;
    cursor: pointer;
}


.ui-state-default,
.ui-widget-content .ui-state-default {
    background-color: #fff;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    background: #c26af5;
    color: #fff;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    border: none;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    background-color: #eee;
    color: #333;
}