@charset "utf-8";

@import url("../../../../static/assets/css/reset.css");
@import url("../../../../static/assets/css/style.css");

/* common layout */
* {font-family: 'Noto Sans KR', sans-serif; box-sizing: border-box; color: var(--black);}
.container {width: 100%; min-width: 1400px; overflow: hidden;} 
.contents {min-height: 320px; padding-bottom: 80px;}

/* input, checkbox, radio style */
input {accent-color: var(--brand); border: 1px solid var(--gray); font-size: 13px; height: 30px; padding: 0 10px;}
input.error {border-color: var(--red);}
input:focus {outline: none;}
input::placeholder {color: #999;}

input[type="checkbox"] {width: 16px; height: 16px;}
input[type="checkbox"] ~ label {font-size: 14px; line-height: 20px; vertical-align: top; cursor: pointer;}

input[type="radio"] {width: 17px; height: 17px;}
input[type="radio"] ~ label {font-size: 14px; line-height: 20px; vertical-align: top; cursor: pointer;}

/* textarea style */
textarea {resize: none; border: 1px solid var(--gray); font-size: 14px; padding: 10px;}
textarea:focus {outline: none;}

/* selectbox style */
select {border: 1px solid var(--gray); height: 30px; padding: 0 6px;}
select:focus {outline: none;}

/* button style */
button {cursor: pointer;}
button:disabled {background-color: var(--lgray); color: #999; cursor: default;}
.btn {display: inline-block; text-align: center;}
.disabled {background-color: var(--lgray); color: #999; cursor: default;}

.btn-primary {background-color: var(--brand); color: #fff;}
.btn-outline {background-color: #fff; border: 1px solid currentColor; color: var(--brand);}
.btn-secondary {background-color: #fff; border: 1px solid var(--gray); color: var(--dgray);}
.btn-dark {background-color: var(--black); color: #fff;}
.btn-dark-outline {background-color: #fff; border: 1px solid currentColor; color: var(--black);}

.btn-excel {padding: 0 10px; background-color: #fff; border: 1px solid var(--gray); color: var(--dgray);}


/* header */
header {width: 100%; z-index: 11; position: relative;} 
header .sticky {position:fixed; top:0; left:0; width:100%; height: 60px; background-color: #fff; border-bottom: 1px solid var(--gray); animation:slide-down 0.3s; z-index: 20;}
@keyframes slide-down {
    0% {
        transform: translateY(-100%);
    } 
    100% {
        transform: translateY(0);
    } 
}


/* head top */
header .hd-top {width: 100%; height: 30px; background-color: var(--lgray);}
header .hd-top .uitill {width: 1400px; height: 100%; margin: 0 auto; display: flex; justify-content: flex-end; align-items: center;}
header .hd-top .uitill > li:not(:last-child)::after {content: '\2503'; font-size: 12px;} 
header .hd-top .uitill > li > a {font-size: 12px; line-height: 30px;} 

/* main header layout */
header .hd-center {width: 100%; height: 120px; border-bottom: 1px solid var(--gray);} 
header .hd-center .inner {width: 1400px; height: 100%; margin: 0 auto; display: flex; justify-content: space-between; align-items: center;}

header .hd-center .logo {display: block; font-size: 2.2rem; font-weight: 500;} 

/* header search */
header .hd-center .top-search {width: 660px;} 
header .hd-center .top-search .group {width: 100%; display: flex; position: relative;} 
header .hd-center .top-search .group input {width: 440px; height: 50px; font-size: 15px; border: 1px solid var(--gray);} 

/* 검색 카테고리 */
header .hd-center .top-search .ctgy-select {width: calc(100% - 440px); height: 50px; border: 1px solid var(--gray); position: relative; user-select: none; z-index: 16;}

header .hd-center .top-search .ctgy-select .default-option {width: 150px; height: 100%; position: relative; cursor: pointer;}
header .hd-center .top-search .ctgy-select .default-option::after {content: '\f0d7'; font-family: 'FontAwesome', sans-serif; position: absolute; top: 15px; right: 0;}
header .hd-center .top-search .ctgy-select .default-option li {font-size: 14px; font-weight: 500; color: var(--black); line-height: 50px; padding-left: 15px;}

header .hd-center .top-search .ctgy-select .select-ul {display: none; min-width: 220px; padding: 15px; position: absolute; top: 48px; right: 0; width: 150px; background-color: #fff; border: 1px solid var(--gray);}
header .hd-center .top-search .ctgy-select .select-ul .option {color: var(--dgray); font-size: 13px; line-height: 22px; position: relative; transition: all 0.25s; cursor: pointer;}
header .hd-center .top-search .ctgy-select .select-ul .option:before {content: '\2023'; display: inline-block; font-size: 13px; font-size: 18px; margin-right: 6px;}
header .hd-center .top-search .ctgy-select .select-ul .option:hover {color: var(--black);}

header .hd-center .top-search .ctgy-select.active .select-ul {display: block;}
header .hd-center .top-search .ctgy-select.active .default-option:after {content: '\f0de'; top: 20px;}


header .hd-center .top-search .search-btn {width: 50px; height: 50px; position: absolute; top: 0; right: 0; background-color: var(--gray); z-index: 17;}
header .hd-center .top-search .search-btn i {font-size: 18px;}

/* user menu */
header .hd-center .my-menu .calling {margin-bottom: 20px;} 
header .hd-center .my-menu .calling .icon-box {width: 40px; height: 40px; overflow: hidden; display: inline-block; margin-right: 10px;} 
header .hd-center .my-menu .calling .icon-box img {width: 100%; height: 100%; object-fit: contain;} 
header .hd-center .my-menu .calling .txt-box {display: inline-block; font-size: 13px; color: var(--dgray); vertical-align: top;} 
header .hd-center .my-menu .calling .txt-box .phone-num {font-size: 17px; font-weight: 900; color: var(--black); margin-top: 6px;} 

header .hd-center .my-menu .icon-menu > li {display: inline-block; vertical-align: middle; position: relative;} 
header .hd-center .my-menu .icon-menu > li i {font-size: 1.3rem;} 
header .hd-center .my-menu .icon-menu > li:not(:first-child) {margin-left: 20px;} 

header .hd-center .my-menu .icon-menu .toggle-menu {position: relative;} 
header .hd-center .my-menu .icon-menu .toggle-box {display: none; padding: 20px; position: absolute; top: 40px; right: -50px; border: 1px solid var(--gray); background-color: #fff; z-index: 18;}
header .hd-center .my-menu .icon-menu .toggle-box:after, .toggle-box:before {bottom: 100%; right: 60px; border: solid transparent; content: ''; height: 0; width: 0; position: absolute; pointer-events: none;}
header .hd-center .my-menu .icon-menu .toggle-box:after {border-color: transparent; border-bottom-color: #fff; border-width: 9px; margin-left: -9px;}
header .hd-center .my-menu .icon-menu .toggle-box:before {border-color: transparent; border-bottom-color: var(--gray); border-width: 9px; margin-left: -9px;}
header .hd-center .my-menu .icon-menu .toggle-box.open {display: block;}

header .hd-center .my-menu .icon-menu .wish-list {width: 350px; padding: 20px;}
header .hd-center .my-menu .icon-menu .wish-list > li:not(:last-child) {border-bottom: 1px solid var(--gray); margin-bottom: 15px; padding-bottom: 15px;}
header .hd-center .my-menu .icon-menu .wish-list .item .thumbnail {width: 80px; height: 80px; overflow: hidden; border: 1px solid var(--gray); border-radius: 6px; display: inline-block; vertical-align: text-top;}
header .hd-center .my-menu .icon-menu .wish-list .item .thumbnail img {width: 100%; object-fit: contain;}
header .hd-center .my-menu .icon-menu .wish-list .item .thumbnail:after {content: ''; display: block; clear: both;}

header .hd-center .my-menu .icon-menu .wish-list .item .prod-desc {width: 220px; padding-left: 10px; display: inline-block; vertical-align: text-top; position: relative;}
header .hd-center .my-menu .icon-menu .wish-list .item .prod-desc .prod-name {width: 90%; font-size: 15px; font-weight: 400; line-height: 1.4; color: var(--black); display: -webkit-box; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 2; /* 최대 두 줄까지 표시 */}
header .hd-center .my-menu .icon-menu .wish-list .item .prod-desc .price {font-size: 16px; font-weight: 700; color: var(--black); margin-top: 10px;}
header .hd-center .my-menu .icon-menu .wish-list .item .prod-desc .remove {font-size: 15px; color: var(--dgray); position: absolute; top: 4px; right: 0;}

header .hd-center .my-menu .icon-menu .wish-list .btn-group {border-bottom: 0;}
header .hd-center .my-menu .icon-menu .wish-list .move-btn {width: 100%; line-height: 50px; color: #fff; background: var(--brand);}

/* GNB */
header nav {width: 100%; height: 60px; border-bottom: 1px solid var(--gray); transition: all 0.2s;}
header nav .inner {width: 1400px; height: 100%; margin: 0 auto; display: flex;}

header nav .category {height: 100%; margin-right: 40px; position: relative;}
header nav .category .menu-all-btn {width: 200px; line-height: 60px; background: var(--brand); text-align: center; cursor: pointer;}
header nav .category .menu-all-btn > span {font-size: 17px; font-weight: 400; color: #fff;}
header nav .category .menu-all-btn > span::before {content: ''; display: inline-block; width: 24px; height: 24px; background: url(/static/fo/assets/img/common/menu-icon-white.png) 50% no-repeat; background-size: 22px; vertical-align: middle; margin-right: 10px;}

header nav .category .menu-all {display: none; width: 200px; min-height: 460px; padding: 15px 0; background-color: #fff; border: 1px solid var(--gray); position: absolute; top: 60px; left: 0; z-index: 9;}
header nav .category .menu-all .menu-item:hover .menu-all {border-radius: 0 0 0 15px;}
header nav .category .menu-all .menu-item > a {display: block; width: 100%; padding: 0 20px; line-height: 36px; font-size: 15px; font-weight: 500; color: var(--black); transition: all 0.25s;}
header nav .category .menu-all .menu-item > a:hover {color: var(--brand);}

header nav .category .menu-all .menu-item .depth2 {position: absolute; top: 0; left: 100%; width: 200px; opacity: 0; transform: translateX(20px); visibility: hidden; transition: all 0.35s;}
header nav .category .menu-all .menu-item:hover .depth2 {opacity: 1; transform: translateX(0px); visibility: visible;}

header nav .category .menu-all .menu-item .depth2 {width: 520px; width: 520px; height: 460px; position: absolute; top: 0; left: 200px; background-color: rgba(255,255,255,0.8); box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px 0px; border-radius: 0 0 15px 15px; overflow: hidden;}
header nav .category .menu-all .menu-item .depth2 .ctgy {width: 220px; height: 100%; padding: 25px;}
header nav .category .menu-all .menu-item .depth2 .ctgy > li > h3 {font-size: 18px; font-weight: 500; color: var(--black); margin-bottom: 15px;}
header nav .category .menu-all .menu-item .depth2 .ctgy > li > h3::after {content: ''; display: block; width: 50px; height: 2px; background: var(--brand); margin-top: 10px;}
header nav .category .menu-all .menu-item .depth2 .ctgy > li > a {display: block; line-height: 24px; font-size: 14px; font-weight: 400; color: var(--black); transition: all 0.25s;}
header nav .category .menu-all .menu-item .depth2 .ctgy > li > a:hover {color: var(--brand);}

header nav .category .menu-all .menu-item .depth2 .promo-area {display: block; width: 300px; height: 100%; padding: 40px 25px; text-align: center; background-color: #fff; border-left: 1px solid var(--gray); position: absolute; top: 0; right: 0;}
header nav .category .menu-all .menu-item .depth2 .promo-area .name-box {width: 100%; height: 84px;}
header nav .category .menu-all .menu-item .depth2 .promo-area .brand-name {font-size: 13px; font-weight: 400; color: var(--dgray); margin-bottom: 6px;}
header nav .category .menu-all .menu-item .depth2 .promo-area .prod-name {width: 100%; font-size: 20px; font-weight: 500; color: var(--black); line-height: 1.3; display: -webkit-box; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 2;}

header nav .category .menu-all .menu-item .depth2 .promo-area .thumnail { width: 100%; overflow: hidden; position: relative;}
header nav .category .menu-all .menu-item .depth2 .promo-area .thumnail img {width: 100%; height: 100%; object-fit: contain;}
header nav .category .menu-all .menu-item .depth2 .promo-area .thumnail .disc-tag {width: 60px; height: 60px; line-height: 60px; font-size: 16px; font-weight: 500; border-radius: 100px; background: var(--brand); color: #fff; position: absolute; top: 0; left: 0;}

header nav .category .menu-all .menu-item .depth2 .promo-area .market-price {font-size: 15px; font-weight: 400; color: var(--dgray); text-decoration: line-through;}
header nav .category .menu-all .menu-item .depth2 .promo-area .price {font-size: 22px; font-weight: 700; color: var(--black); letter-spacing: -0.5px; margin-top: 8px;}

header nav .gnb > li {display: inline-block; line-height: 60px;}
header nav .gnb > li:not(:last-child) {margin-right: 30px;}
header nav .gnb > li a {font-size: 17px; font-weight: 500; color: var(--black); transition: all 0.25s;}
header nav .gnb > li a:hover {color: var(--dgray);}


/* footer */
footer {width: 100%; border-top: 1px solid var(--gray);}
footer .foot-top {width: 100%; height: 60px; border-bottom: 1px solid var(--gray);}
footer .foot-top .fnb {width: 1400px; margin: 0 auto;}
footer .foot-top .fnb > li {display: inline-block;}
footer .foot-top .fnb > li:not(:last-child) {margin-right: 20px;}
footer .foot-top .fnb > li:not(:last-child)::after {content: ''; display: inline-block; width: 1px; height: 12px; background-color: var(--gray); margin-left: 20px;}

footer .foot-top .fnb > li > a {font-size: 15px; font-weight: 400; color: var(--black); line-height: 58px;}
footer .foot-top .fnb > li > a > span {color: var(--brand);}

footer .foot-cont {width: 1400px; margin: 0 auto; padding: 40px 0;}
footer .foot-cont article:not(:last-child) {margin-bottom: 20px;}

footer .foot-cont .cs-info .phone-num {font-size: 46px; font-weight: 900; color: var(--black); display: inline-block; vertical-align: middle; margin-right: 20px;}
footer .foot-cont .cs-info .phone-num::before {content: ''; display: inline-block; width: 50px; height: 50px; background: url(/static/fo/assets/img/common/cs-icon.png) 50% no-repeat; vertical-align: top; margin-right: 10px;}

footer .foot-cont .cs-info .time {display: inline-block; vertical-align: middle;} 
footer .foot-cont .cs-info .time dl {display: flex;} 
footer .foot-cont .cs-info .time dl dt {font-size: 15px; font-weight: 500; color: var(--black); margin-right: 8px;} 
footer .foot-cont .cs-info .time dl dd {font-size: 15px; font-weight: 400; color: var(--dgray); margin-right: 15px;} 
footer .foot-cont .cs-info .time > p {font-size: 14px; font-weight: 400; color: var(--brand); margin-top: 6px;} 

footer .foot-cont .biz-info {font-size: 14px; font-weight: 400; text-align: left; color: var(--black); line-height: 1.6;}
footer .foot-cont .biz-info strong {font-size: 15px; font-weight: 700;}
footer .foot-cont .biz-info span {color: var(--dgray);}
footer .foot-cont .biz-info span::before {content: ''; display: inline-block; vertical-align: middle; width: 1px; height: 12px; background-color: var(--gray); margin: 0 8px;}
footer .foot-cont .biz-info span::after {content: '.'; margin-right: 4px;}

footer .foot-cont .biz-info span:nth-of-type(2)::before {display: none;}
footer .foot-cont .biz-info span:nth-of-type(4)::before {display: none;}

footer .foot-cont .copyright {font-size: 12px; font-weight: 400; color: var(--dgray);}


/* scroll top */
.scroll-top {position: fixed; z-index: 12; width: 40px; height: 40px; text-align: center; background-color: var(--dgray); border-radius: 100px; right: 40px; bottom: 65px; transition: all 0.3s; display: none;}
.scroll-top i {color: #fff;}


/* 상품 평점(별점) */
.rating-point { width: 100px; height: 15px; overflow: hidden; background: url(/static/fo/assets/img/common/rating-point.png) 0 0 no-repeat; margin-bottom: 10px; } 
.rating-point > span { display: inline-block; height: 15px; overflow: hidden; background: url(/static/fo/assets/img/common/rating-point.png) no-repeat; background-position: left bottom; }


/* 입력 form 필수 값 표기 */
.ess {font-size: 0;}
.ess:after {content: '*'; font-size: 17px; color: var(--brand);}


/* error message */
.error-msg {font-size: 12px; font-weight: 400; color: var(--brand); margin-top: 8px;}
.error-msg::before {content: '\f06a'; font-family: 'FontAwesome'; margin-right: 4px;}

/* info message */
.info-msg {font-size: 12px; font-weight: 400; color: var(--dgray); margin-top: 8px;}
.info-msg::before {content: '\f06a'; font-family: 'FontAwesome'; margin-right: 4px;}


/* 아코디언 style */
.accordion-wrap .accordion-title { width: 100%; position: relative; cursor: pointer; } 
.accordion-wrap .accordion-title::before { content: ""; position: absolute; top: 50%; right: 16px; width: 16px; height: 2px; transform: rotate(90deg); background: var(--gray); transition: all .3s ease-in-out; } 
.accordion-wrap .accordion-title::after { content: ""; position: absolute; top: 50%; right: 15px; width: 18px; height: 2px; background: var(--gray); transition: all .2s ease-in-out; } 
.accordion-wrap .accordion-title.open::before { transform: rotate(180deg); } 
.accordion-wrap .accordion-title.open::after { opacity: 0; }


/* table style */
/* 게시판 리스트 */
.board-list {width: 100%; border-top: 1px solid var(--black);}
.board-list tr {border-bottom: 1px solid var(--gray);}
.board-list th {font-size: 15px; font-weight: 500; color: var(--black); line-height: 50px;}
.board-list th:not(:last-child) {border-right: 1px solid var(--gray);}
.board-list td {font-size: 14px; font-weight: 400; color: var(--black); line-height: 1.4; padding: 15px;}
.board-list td:not(:last-child) {border-right: 1px solid var(--gray);}

/* 게시판 상세 */
.board-view {width: 100%; border-top: 1px solid var(--black);}
.board-view tr {border-bottom: 1px solid var(--gray);}
.board-view th {font-size: 15px; font-weight: 500; color: var(--black); line-height: 50px;}
.board-view th:not(:last-child) {border-right: 1px solid var(--gray);}
.board-view td {font-size: 14px; font-weight: 400; color: var(--black); line-height: 1.4; padding: 15px;}
.board-view td:not(:last-child) {border-right: 1px solid var(--gray);}


/* pagination */
.paging {margin: 0 auto; text-align: center;} 
.paging > ul {display: flex; justify-content: center; align-items: center;}
.paging > ul > li {width: 40px; height: 40px; line-height: 38px; border: 1px solid var(--gray); color: var(--dgray); border-radius: 100px; text-align: center; cursor: pointer;}
.paging > ul > li:not(:last-child) {margin-right: 6px;}

.paging .index { font-size: 13px;} 
.paging .index.current {background-color: var(--black); border-color: var(--black); color: #fff; font-weight: 500; cursor: default;} 

.paging .control.disabled { background-color: var(--lgray); cursor: default;} 
.paging .control.disabled:after {opacity: 0.3;} 

.paging .control { font-size: 0; }
.paging .control:after { content: ''; display: inline-block; width: 30px; height: 30px; vertical-align: middle;} 
.paging .start:after { background: url(/static/fo/assets/img/common/paging_start.png) 50% no-repeat;} 
.paging .prev:after { background: url(/static/fo/assets/img/common/paging_prev.png) 50% no-repeat;} 
.paging .next:after { background: url(/static/fo/assets/img/common/paging_next.png) 50% no-repeat;} 
.paging .end:after { background: url(/static/fo/assets/img/common/paging_end.png) 50% no-repeat;} 


/* radio clcick : toggle */
.toggle-cont {display: none;}
.toggle-radio:checked+.toggle-label+.toggle-cont {display: block;}