<div class="lnb">
    <div class="accordion-title">상품</div>
    <div class="panel">
        <ul>
            <li><a href="../prod/list.html">상품 관리</a></li>
            <li><a href="../prod/insert.html">상품 등록</a></li>
        </ul>
    </div>

    <div class="accordion-title">재고현황</div>
    <div class="panel">
        <ul>
            <li><a href="#">기간별 재고현황</a></li>
            <li><a href="#">월별 재고현황</a></li>
        </ul>
    </div>

    <div class="accordion-title">상품정보</div>
    <div class="panel">
        <ul>
            <li><a href="#">상품정보 관리</a></li>
            <li><a href="#">상품분류 관리</a></li>
        </ul>
    </div>

    <div class="accordion-title">브랜드</div>
    <div class="panel">
        <ul>
            <li><a href="#">브랜드 관리</a></li>
            <li><a href="#">브랜드 등록</a></li>
        </ul>
    </div>
</div>