<aside class="quick-menu">
    <h3>Quick Menu</h3>

    <ul id="quickButton" class="menu-btn">
        <li>
            <button type="submit">
                <i class="fa-regular fa-floppy-disk"></i>
                <span>등록하기</span>
            </button>
        </li>

        <li>
            <button type="button">
                <i class="fa-regular fa-rectangle-list"></i>
                <span>리스트</span>
            </button>
        </li>

        <li>
            <button type="button">
                <i class="fa-solid fa-rotate-left"></i>
                <span>취소</span>
            </button>
        </li>
    </ul>

    <div class="scroll-btn">
        <a href="javascript:void(0);" class="page-up">
            <i class="fa-solid fa-caret-up"></i>
        </a>
        <a href="javascript:void(0);" class="page-down">
            <i class="fa-solid fa-caret-down"></i>
        </a>
    </div>
</aside>