<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 관리</title>

    <!-- css -->
    <link rel="stylesheet" href="../../../static/bo/css/common.css">
    <link rel="stylesheet" href="../../../static/bo/css/contents.css">

    <!-- fontawesome CDN -->
    <script src="https://kit.fontawesome.com/20d055f060.js" crossorigin="anonymous"></script>
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="wrap">
        <!-- header -->
        <div data-include-path="../layout/header.html"></div>

        <!-- section -->
        <section class="sect">
            <div class="flex">
                <!-- sub page lnb -->
                <div class="lnb">
                    <div class="menus">
                        <div class="accordion-title">회원</div>
                        <ul class="panel">
                            <li><a href="#">회원관리</a></li>
                            <li><a href="#">휴면회원 관리</a></li>
                            <li><a href="#">탈퇴회원 관리</a></li>
                        </ul>
                    </div>

                </div>

                <!-- page contents -->
                <div class="container">
                    <div class="title-area">
                        <!-- page location -->
                        <div class="location">
                            <ul>
                                <li>회원</li>
                                <li class="current">회원관리</li>
                            </ul>
                        </div>

                        <!-- page title -->
                        <h3 class="page-tit">회원관리</h3>
                    </div>

                    <!-- contents area -->
                    <div class="cont-area">
                        <form action="" id="" name="">
                            <!-- 검색 영역 -->
                            <div class="box-wrap search">
                                <div class="box-tit">
                                    <h3>검색</h3>
                                    <div class="total">
                                        <ul>
                                            <li>총 <span>19</span></li>
                                            <li>정상 <span>18</span></li>
                                            <li>품절 <span>1</span></li>
                                            <li>숨김 <span>0</span></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="cont">
                                    <table></table>

                                    <ul class="btn-group">
                                        <li>
                                            <select name="" id="">
                                                <option value="">상품명</option>
                                                <option value="">상품코드</option>
                                            </select>
                                        </li>
                                        <li>
                                            <button type="submit">검색</button>
                                        </li>
                                        <li>
                                            <button type="button">초기화</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Grid 영역 -->
                            <div class="box-wrap grid">
                                <div class="box-tit">
                                    <h3>목록 (총 <span>777</span>개)</h3>
                                    <div class="btns">
                                        <button type="button">엑셀 다운로드</button>
                                    </div>
                                </div>

                                <div class="cont min-h500"></div>
                            </div>

                            <!-- 일괄 처리 영역 -->
                            <div class="box-wrap batch-proc">
                                <div class="box-tit"><h3>일괄 처리</h3></div>

                                <div class="cont"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- footer -->
        <div data-include-path="../layout/footer.html"></div>
    </div>

    <script>
        window.addEventListener('load', function () {
            var allElements = document.getElementsByTagName('*');
            Array.prototype.forEach.call(allElements, function (el) {
                var includePath = el.dataset.includePath;
                if (includePath) {
                    var xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {
                            el.outerHTML = this.responseText;
                        }
                    };
                    xhttp.open('GET', includePath, true);
                    xhttp.send();
                }
            });
        }); //includeHTML
    </script>
</body>
</html>