@charset "utf-8";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {box-sizing: border-box;}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul, li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
}
a {
	text-decoration: none;
}
button {
	border: 0;
}

/* font */
/* Noto Sans KR (korean) http://www.google.com/font/earlyaccess */
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 100;
	src: url(../font/NotoSansKR-Thin.woff) format('woff'),
		url(../font/NotoSansKR-Thin.otf) format('opentype'),
		url(../font/NotoSansKR-Thin.woff2s) format('woff2');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	src: url(../font/NotoSansKR-Light.woff2) format('woff2'),
		url(../font/NotoSansKR-Light.woff) format('woff'),
		url(../font/NotoSansKR-Light.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src: url(../font/NotoSansKR-Regular.woff2) format('woff2'),
		url(../font/NotoSansKR-Regular.woff) format('woff'),
		url(../font/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	src: url(../font/NotoSansKR-Medium.woff2) format('woff2'),
		url(../font/NotoSansKR-Medium.woff) format('woff'),
		url(../font/NotoSansKR-Medium.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	src: url(../font/NotoSansKR-Bold.woff2) format('woff2'),
		url(../font/NotoSansKR-Bold.woff) format('woff'),
		url(../font/NotoSansKR-Bold.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 900;
	src: url(../font/NotoSansKR-Black.woff2) format('woff2'),
		url(../font/NotoSansKR-Black.woff) format('woff'),
		url(../font/NotoSansKR-Black.otf) format('opentype');
}