@charset "utf-8";

@import url(../../assets/css/reset.css);
@import url(../../assets/css/style.css);


/* common layout */
* {font-family: 'Noto Sans KR', sans-serif;}
.container {min-width: 1440px; overflow: hidden; color: var(--black);}

/* input, checkbox, radio style */
input {accent-color: var(--accent); border: 1px solid var(--gray); font-size: 13px; height: 30px; padding: 0 10px;}
input.error {border-color: var(--red);}
input:focus {outline: none;}
input::placeholder {color: #999;}

input[type="checkbox"] {width: 16px; height: 16px;}
input[type="checkbox"] ~ label {font-size: 14px; line-height: 20px; vertical-align: top; cursor: pointer;}

input[type="radio"] {width: 17px; height: 17px;}
input[type="radio"] ~ label {font-size: 14px; line-height: 20px; vertical-align: top; cursor: pointer;}

/* textarea style */
textarea {resize: none; border: 1px solid var(--gray); font-size: 14px; padding: 10px;}
textarea:focus {outline: none;}

/* selectbox style */
select {border: 1px solid var(--gray); height: 30px; padding: 0 6px;}
select:focus {outline: none;}

/* button style */
button {cursor: pointer;}
button:disabled {background-color: var(--lgray); color: #999; cursor: default;}
.btn {display: inline-block;}
.disabled {background-color: var(--lgray); color: #999; cursor: default;}

.btn-primary {background-color: var(--accent); color: #fff;}
.btn-outline {background-color: #fff; border: 1px solid currentColor; color: var(--accent);}
.btn-secondary {background-color: #fff; border: 1px solid var(--gray); color: var(--dgray);}
.btn-dark {background-color: var(--black); color: #fff;}
.btn-dark-outline {background-color: #fff; border: 1px solid currentColor; color: var(--black);}

.btn-excel {padding: 0 10px; background-color: #fff; border: 1px solid var(--gray); color: var(--dgray);}

/* accodion style */
.accordion-title { width: 100%; font-weight: 500; position: relative; cursor: pointer; } 
.accordion-title::before {content: "\f105"; font-family: 'FontAwesome', sans-serif; color: var(--gray); position: absolute; top: 0; right: 15px; transform: rotate(-90deg); transition: all 0.3s;} 
.accordion-title.toggle::before { transform: rotate(90deg); }

/* error message */
.error-txt {font-size: 12px; font-weight: 400; color: var(--red); margin-top: 8px;}
.error-txt::before {content: '\f06a'; font-family: 'FontAwesome'; margin-right: 4px;}

/* info message */
.info-txt {font-size: 12px; font-weight: 400; color: var(--txt-gray); margin-top: 8px;}
.info-txt::before {content: '\f06a'; font-family: 'FontAwesome'; margin-right: 4px;}


/* header */
header {width: 100%; background-color: var(--lgray); border-bottom: 1px solid var(--gray); z-index: 5;}

/* 텝 초기화, 로그아웃 */
header .user-menu {height: 30px; padding: 0 40px; background-color: var(--accent); text-align: right; display: flex; justify-content: flex-end;}

header .user-menu .favorites {position: relative;}
header .user-menu .favorites .accordion-title {color: #fff; font-size: 13px; font-weight: 400; margin-left: 30px; line-height: 30px;}
header .user-menu .favorites .accordion-title::before {display: none;}

header .user-menu .favorites .panel {display: none; position: absolute; background-color: #fff; border: 1px solid var(--gray); width: 180px; padding: 15px; right: 0; z-index: 1;}
header .user-menu .favorites .panel ul li {font-size: 14px; text-align: left; color: var(--dgray); line-height: 1.6;}
header .user-menu .favorites .panel .unlink {text-align: center; font-size: 13px; color: var(--txt-gray);}
header .user-menu .favorites .panel .link > a {text-align: left; font-size: 14px; font-weight: 500; color: var(--dgray); margin-left: 0; line-height: 1;}

header .user-menu .favorites .btn {width: 100%; text-align: center; font-size: 13px; margin-top: 10px; line-height: 26px; transition: all 0.2s;}
header .user-menu .favorites .btn:hover {background-color: var(--lgray);}

header .user-menu .logout a {color: #fff; font-size: 13px; font-weight: 400; margin-left: 30px; line-height: 30px;}
header .user-menu .logout i {color: #fff; font-size: 13px;}

header .nav-bar {height: 60px; padding: 0 40px; display: flex; justify-content: flex-start; align-items: center; position: relative;}
header .nav-bar .logo {width: 200px; height: 100%;}
header .nav-bar .logo a {line-height: 60px; color: var(--black); font-size: 28px; font-weight: 700;}

/* GNB 메뉴 */
header .nav-bar .gnb {display: flex; justify-content: flex-start; align-items: center;}
header .nav-bar .gnb .menus {height: 60px; padding: 0 40px 0 0; display: flex; justify-content: flex-start; align-items: center;}
header .nav-bar .gnb .menus > li {line-height: 60px; font-size: 18px; font-weight: 500; position: relative;}
header .nav-bar .gnb .menus > li > p {cursor: pointer;}
header .nav-bar .gnb .menus > li > .linked {font-size: 18px; font-weight: 500; color: var(--black);}
header .nav-bar .gnb .menus > li:not(:last-child) {margin-right: 40px;}
header .nav-bar .gnb .menus > li:hover * {color: var(--accent);}
header .nav-bar .gnb .menus > li:hover .depth2 {opacity: 1; visibility: visible; transform: scaleY(1); z-index: 6;}

header .nav-bar .gnb .menus .depth2 {transform-origin: top; transform: scaleY(0); opacity: 0; visibility: hidden; transition: all 0.3s; background-color: #fff; border: 1px solid var(--gray); position: absolute; top: 60px; left: 0; padding: 15px;}
header .nav-bar .gnb .menus .depth2 ul {min-width: 140px;}
header .nav-bar .gnb .menus .depth2 ul li {cursor: default; line-height: 1.2;}
header .nav-bar .gnb .menus .depth2 ul li > span {display: block; font-size: 17px; font-weight: 500; color: var(--accent); margin-bottom: 4px;}
header .nav-bar .gnb .menus .depth2 ul li > a {font-size: 15px; font-weight: 400; color: var(--dgray);}

header .nav-bar .gnb .menus .coulm:not(:last-child) {border-right: 1px solid var(--gray); margin-right: 15px;}

/* 기타 다른 메뉴 */
header .nav-bar .gnb .others > li {font-size: 16px; font-weight: 400; color: var(--dgray); position: relative; cursor: pointer;}
header .nav-bar .gnb .others > li:not(:last-child) {margin-right: 40px;}
header .nav-bar .gnb .others .depth2 ul li > span {display: block; font-size: 16px; font-weight: 500; color: var(--black); margin-bottom: 4px;}
header .nav-bar .gnb .others .depth2 ul li > a {font-size: 14px; font-weight: 400; color: var(--dgray);}

/* 상태 요약알림 */
header .nav-bar .today {position: absolute; top: 50%; right: 40px; transform: translateY(-50%);}
header .nav-bar .today > li {display: inline-block; font-size: 13px; font-weight: 400; color: var(--dgray)}
header .nav-bar .today > li:not(:first-child):before {content: '|'; margin: 0 10px; font-size: 12px; vertical-align: top; color: var(--gray);}
header .nav-bar .today .state  {font-weight: 700; color: var(--accent);}


/* section */
.sect {width: 100%;}

/* sub page LNB */
.lnb {width: 220px; height: calc(100vh - 132px); background-color: var(--lgray); border-right: 1px solid var(--gray);}
.lnb .accordion-title {width: 100%; padding: 0 20px; line-height: 36px; font-size: 15px; border-bottom: 1px solid var(--gray); position: relative;}

.lnb .panel {padding: 10px 20px; background-color: #fff; border-bottom: 1px solid var(--gray);}
.lnb .panel ul > li {font-size: 14px; line-height: 24px;}
.lnb .panel ul > li a {color: var(--dgray);}


/* sub pages */
.page-wrap {width: 100%; height: calc(100vh - 132px); background-color: var(--lgray); overflow-y: auto;}

.quick-menu {width: 80px; position: absolute; top: 194px; right: 30px; transition: all 0.3s ease;}
.quick-menu.fixed {position: fixed; top: 0; right: 11%;}
.quick-menu > h3 {display: block; width: 100%; color: #fff; font-size: 17px; font-weight: 500; line-height: 1.3; padding: 15px 0; text-align: center; background-color: var(--accent); text-transform: uppercase;}

.quick-menu .menu-btn {background-color: #fff; border: 1px solid var(--gray);}
.quick-menu .menu-btn > li:not(:last-child) {border-bottom: 1px solid var(--gray);}
.quick-menu .menu-btn button {width: 100%; height: 70px; background-color: #fff; color: var(--dgray);}
.quick-menu .menu-btn button i {font-size: 22px;}
.quick-menu .menu-btn button span {display: block; font-size: 12px; margin-top: 4px;}

.quick-menu .scroll-btn {text-align: center; padding-top: 10px;}
.quick-menu .scroll-btn > a {display: block; font-size: 20px; color: var(--accent);}

.title-area {background-color: #fff; border-bottom: 1px solid var(--gray); padding: 15px 20px;}
.title-area .location ul {margin-bottom: 10px;} 
.title-area .location ul li {display: inline-block; font-size: 13px; color: var(--txt-gray);} 
.title-area .location ul li:not(:last-child)::after {content: "\f105"; font-family: 'FontAwesome', sans-serif; color: var(--txt-gray); margin: 0 3px 0 5px;} 
.title-area .location ul li.current {color: var(--txt-gray);}

.title-area .page-tit {display: flex; justify-content: flex-start;} 
.title-area .page-tit h3 {font-size: 22px; font-weight: 500; color: var(--black); margin-right: 10px;}
.title-area .page-tit .add-quick {display:block; width: 24px; height: 24px; background-color: #fff; border: 1px solid var(--gray); border-radius: 4px;}
.title-area .page-tit .add-quickon { display: block; width: 24px; height: 24px; background-color: #fff; border: 1px solid var(--accent); border-radius: 4px;}
.title-area .page-tit .add-quick img { width: 100%; height: 100%; object-fit: scale-down; }
.title-area .page-tit .add-quickon img { width: 100%; height: 100%; object-fit: scale-down; }
.title-area .page-tit .add-quickon { display: none; }


/* 검색 */
.search fieldset {border: none;}
.search table {width: 100%; font-size: 14px; text-align: left; table-layout: fixed;}
.search table tr { border-bottom: 1px solid var(--gray);}
.search table th {width: 180px; font-weight: 400; color: var(--dgray); background-color: #f9f9f9; padding: 10px 15px; letter-spacing: -1px; border-left: 1px solid #ddd;}
.search table th:first-child {border-left: none;}
.search table td {font-size: 13px; font-weight: 400; vertical-align: middle; padding: 10px 15px; border-left: 1px solid #ddd; color: var(--dgray);}
.search table td:first-child { border-left: none;}

.search .filter-date {display: flex; justify-content: flex-start; align-items: center;}
.search .filter-date .days {margin-right: 8px;}
.search .filter-date .days input {width: 140px; text-align: center;}
.search .filter-date .days:first-child::after {content: '~'; margin: 0 2px 0 4px;}

.search .filter-date .quick-day {display: flex; justify-content: flex-start; align-items: center;}
.search .filter-date .quick-day li:not(:last-child) { margin-right: 8px; }
.search .filter-date .quick-day input[type="radio"] {display: none;}
.search .filter-date .quick-day label {font-size: 13px; font-weight: 400; text-align: center; cursor: pointer;}
.search .filter-date .quick-day input[type="radio"] ~ label {display: block; width: 60px; line-height: 30px;background-color: #fff; border: 1px solid var(--gray);}
.search .filter-date .quick-day input[type="radio"]:checked + label {border: 1px solid currentColor; color: var(--accent);}

.search .inp-group {display: flex; justify-content: flex-start; align-items: center;}
.search .inp-group li:not(:last-child) {margin-right: 15px;}

.search .btn-group {display: flex; justify-content: center; align-items: center; padding: 15px;}
.search .btn-group li:not(:last-child) {margin-right: 8px;}
.search .btn-group button {width: 100px; height: 30px;}


/* contents area */
.cont-area {width: calc(100% - 100px); padding: 20px;}
.cont-area .box-wrap {width: 100%; background-color: #fff; border: 1px solid var(--gray); }
.cont-area .box-wrap:not(:last-child) {margin-bottom: 20px;}

.cont-area .box-wrap .box-tit {width: 100%; height: 45px; background-color: #f1f3f5; padding: 0 15px; display: flex; justify-content: space-between; align-items: center;}
.cont-area .box-wrap .box-tit h3 {font-size: 16px; font-weight: 500;}

.cont-area .box-wrap .cont {padding: 15px;}
.cont-area .box-wrap .cont .batch-proc {font-size: 14px;}
.cont-area .box-wrap .cont .batch-proc button {height: 30px; vertical-align: middle;}

.cont-area .box-wrap .cont .essential::after {content: '필수'; width: 30px; display: inline-block; background: #fff; height: 20px; line-height: 20px; font-size: 11px; border: 1px solid #ff0000; text-align: center; color: #ff0000; margin-left: 8px;}

.cont-area .btn-group {text-align: center;}
.cont-area .btn-group .btn {width: 160px; line-height: 40px; vertical-align: top;}
.cont-area .btn-group .btn:not(:last-child) {margin-right: 6px;}


/* insert, deltail form */
.deltails .accordion-title {border-bottom: none;}
.deltails .accordion-title::before {top: 15px; right: 20px; color: var(--dgray);}
.deltails .panel {padding: 0 !important; border-top: 1px solid var(--gray);}

.deltails .tbl {width: 100%; font-size: 14px; text-align: left; table-layout: fixed;}
.deltails .tbl tr:not(:last-child) {border-bottom: 1px solid var(--gray);}
.deltails .tbl th {width: 180px; font-weight: 400; color: var(--txt-gray); text-align: left; background-color: #f9f9f9; padding: 10px 15px; letter-spacing: -1px; border-right: 1px solid #ddd;}
.deltails .tbl td {font-weight: 400; height: 40px; color: var(--dgray); padding: 10px 15px;}

.deltails .img-upload {display: flex; justify-content: flex-start; align-items: flex-start;}
.deltails .img-upload > li {width: 200px;}
.deltails .img-upload > li:not(:last-child) {margin-right: 15px;}

.deltails .img-upload .thumb-view {width: 200px; height: 200px; overflow: hidden; border: 1px solid var(--gray);}
.deltails .img-upload .thumb-view img {width: 100%; height: 100%; object-fit: contain;}

.deltails .img-upload .btn-group {display: flex; justify-content: space-between; align-items: flex-start;}
.deltails .img-upload .btn-group .btn {line-height: 30px; margin-top: 6px; border: 1px solid var(--dgray);}
.deltails .img-upload .btn-group .btn.insert {width: 100%; background-color: var(--dgray); color: #fff;}
.deltails .img-upload .btn-group .btn.change {width: 49%; background-color: var(--dgray); color: #fff;}
.deltails .img-upload .btn-group .btn.delete {width: 49%; background-color: #fff; color: var(--dgray);}

.deltails .img-upload .guide-txt {margin: 10px 0; font-size: 13px;}

.deltails .inp-group {display: flex; justify-content: flex-start; align-items: center;}
.deltails .inp-group li:not(:last-child) {margin-right: 30px;}


/* footer */
footer {padding: 0 40px; background-color: var(--lgray); border-top: 1px solid var(--gray);}
footer .copyright {line-height: 40px; font-size: 12px; color: var(--txt-gray); text-align: right;}