<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문 완료</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="/static/assets/favicon/favicon.png" type="image/x-icon">
        
    <!-- css -->
    <link rel="stylesheet" href="/static/fo/pc/css/common.css">
    <link rel="stylesheet" href="/static/fo/pc/css/contents.css">

    <!-- fontawesome CDN -->
    <script src="https://kit.fontawesome.com/20d055f060.js" crossorigin="anonymous"></script>
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container">
        <!-- header -->
        <div data-include-path="/views/layout/header.html"></div>

        <!-- contents -->
        <section class="contents">
            <!-- page location -->
            <div class="location">
                <ul>
                    <li><a href="/views/main/index.html">HOME</a></li>
                    <li class="current">주문 완료</li>
                </ul>
            </div>

            <div class="order-wrap">
                <div class="order-done">
                    <div class="icon-box">
                        <img src="/static/fo/assets/img/common/signup-done-icon.png" alt="">
                    </div>

                    <h2>주문이 완료되었습니다.</h2>
                    <p>
                        주문해주셔서 감사합니다!<br>
                        주문하신 내역은 <a href="/views/mypage/shopping/order/list.html" class="txt-black">[마이페이지] - [주문내역]</a>에서 확인해보세요.
                    </p>

                    <div class="order-num">
                        주문번호 : <span>10010</span>
                    </div>

                    <div class="btn-group">
                        <!-- 주문내역 화면으로 이동 -->
                        <a href="/views/mypage/shopping/order/list.html" class="btn btn-default">주문내역</a>
                        <!-- 로그인 화면으로 이동 -->
                        <a href="/views/main/index.html" class="btn btn-gradient">쇼핑 계속하기</a>
                    </div>
                </div>
            </div>

        </section>
    
        <!-- footer -->
        <div data-include-path="/views/layout/footer.html"></div>
        <!-- /footer -->
    </div>

    <!-- JS -->
    <script src="/static/fo/pc/js/common.js"></script>

    <script>
        window.addEventListener('load', function () {
            var allElements = document.getElementsByTagName('*');
            Array.prototype.forEach.call(allElements, function (el) {
                var includePath = el.dataset.includePath;
                if (includePath) {
                    var xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {
                            el.outerHTML = this.responseText;
                        }
                    };
                    xhttp.open('GET', includePath, true);
                    xhttp.send();
                }
            });
        }); //includeHTML
    </script>
</body>