<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문상품 검색 팝업</title>
</head>
<body>
    <div class="layer-inner">
        <!-- popup 타이틀 -->
        <div class="layer-head">
            <h2>주문상품 검색</h2>
        </div>

        <!-- popup 내용 -->
        <div class="layer-cont order-search">
            <form action="" name="" id="">
                <div class="search-detail">
                    <!-- 날짜 선택 -->
                    <div class="date-check">
                        <!-- 선택된 month-filter의 값이 텍스트로 노출 -->
                        <dl class="res-date">
                            <dt>조회결과</dt>
                            <!-- 오늘 날짜를 기준으로 조회한 날짜 (선택한 조회 기간) -->
                            <dd>2022.04.24 ~ 2023.08.03 <span>최근 1개월</span></dd>
                        </dl>

                        <!-- 월 선택 : 버튼 클릭마다 "res-date" 자동으로 변경되게 해주세요! -->
                        <div class="month-filter">
                            <ul class="tabs">
                                <li>
                                    <input type="radio" name="monthType" id="7day">
                                    <label for="7day">7일</label>
                                </li>
                                <li>
                                    <input type="radio" name="monthType" id="1" checked>
                                    <label for="1">1개월</label>
                                </li>
                                <li>
                                    <input type="radio" name="monthType" id="3">
                                    <label for="3">3개월</label>
                                </li>
                                <li>
                                    <input type="radio" name="monthType" id="6">
                                    <label for="6">6개월</label>
                                </li>
                                <li>
                                    <input type="radio" name="monthType" id="12">
                                    <label for="12">12개월</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- 주문한 상품 목록 -->
                <ul class="prod-list">
                    <li>
                        <div class="class="order-num"">
                            <input type="radio" name="" id="num" class="basic-radio">
                            <label for="num" class="basic-radio-label">20230418-0011406</label>
                        </div>

                        <p class="prod-name">카시오 컬러계산기(MS-20UC/그린)</p>
    
                        <p class="date">YYYY-MM-DD</p>
                    </li>
                </ul>

                <div class="btn-group">
                    <button type="button" class="btn close-pop">취소</button>
                    <button type="submit" class="btn btn-gradient">선택</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>