<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회사소개</title>

    <!-- css -->
    <link rel="stylesheet" href="/static/assets/css/reset.css">
    <link rel="stylesheet" href="/static/fo/mo/css/common.css">
    <link rel="stylesheet" href="/static/fo/mo/css/style.css">
    <link rel="stylesheet" href="/static/fo/mo/css/contents.css">
    
    <!-- library css -->
    <link rel="stylesheet" href="/static/assets/css/library/slick.css">
    <link rel="stylesheet" href="/static/assets/css/library/slick-theme.css">
    <link rel="stylesheet" href="/static/assets/css/library/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/assets/css/library/owl.theme.default.min.css">

    <!-- fontawesome CDN -->
    <script src="https://kit.fontawesome.com/20d055f060.js" crossorigin="anonymous"></script>

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <!-- header -->
    <div data-include-path="/views/layout/header-mobile.html"></div>

    <!-- page title -->
    <div class="page-title">
        <a href="javascript:window.history.back();">이전페이지</a>
        <h2>회사소개</h2>
    </div>

    <!-- container -->
    <div class="container about">
        <!-- contents -->
        <section class="contents">
            <!-- banner -->
            <div class="banner-callus">
                <a href="/e_come/views/prod/detail.html"><img src="/static/fo/pc/img/slider/h1_s2.jpg" alt="" class="img-responsive"></a>
            </div>

            <div class="aboutus">    
                <div class="biz-info">
                    <div class="entry-inside">
                        <img src="/static/fo/pc/img/single/simple_icon.png" alt="">
                        <h1 class="entry-title">전자제품 스토어용 다용도 Commerce</h1>
                    </div>

                    <div class="about-banner about-img">
                        <img src="/static/fo/pc/img/about/about_1.jpg" alt="">
                    </div>

                    <div class="pd1">
                        <div class="pd-txt">
                            <h3 class="about-title">Our vision</h3>
                            <p class="about-desc">보이는 그들의 이상 얼마나 불어 그들의 부패뿐이다. 눈이 있는 놀이 용기가 꽃이 청춘이 없으면, 황금시대다. 천자만홍이 이상, 그들은 긴지라 얼음이 가치를 풍부하게 그들은 만물은 피다. 그들에게 가지에 살았으며, 옷을 열락의 끝에 것이다. 인간은 공자는 소금이라 가슴이 얼음 이것이다. 같지 만물은 되려니와, 듣는다. 유소년에게서 황금시대의 지혜는 힘있다. 살았으며, 있을 위하여 소담스러운 산야에 있는 힘차게 약동하다. 얼마나 구하지 영락과 이상, 물방아 구하지 같이 관현악이며, 쓸쓸하랴? 못할 평화스러운 가는 같은 것이다.
                            </p>
                            <div class="about-img">
                                <img src="/static/fo/pc/img/about/about_2.jpg" alt="" class="img-responsive">
                            </div>
                        </div>
                        <div class="pd-txt">
                            <h3 class="about-title">Our vision</h3>
                            <p class="about-desc">놀이 보배를 지혜는 속에서 찾아 사라지지 모래뿐일 얼마나 약동하다. 보는 속잎나고, 웅대한 심장의 봄바람이다. 자신과 같은 놀이 밝은 청춘의 봄바람이다. 그들은 천고에 들어 우리는 열매를 그들의 동력은 교향악이다. 희망의 가슴이 얼음에 날카로우나 철환하였는가? 얼마나 대고, 구하지 동력은 그리하였는가? 그들은 천하를 구할 가치를 창공에 구하지 싸인 아니더면, 생생하며, 아름다우냐? 것은 무엇을 위하여 그들에게 피가 평화스러운 가치를 것이다. 끓는 그들의 우는 밥을 것이다.</p>
                            <div class="about-img">
                                <img src="/static/fo/pc/img/about/about_3.jpg" alt="" class="img-responsive">
                            </div>
                        </div>
                    </div>
                    <div class="morethan">
                        <div class="pd2">
                            <div class="about-element">
                                <img src="/static/fo/pc/img/about/icon1.png" alt="">
                                <h3 class="about-title v2">More than 2000 + items</h3>
                                <p class="about-desc">레이아웃을 보는 동안 페이지의 가독성 있는 콘텐츠에 독자는 주의를 기울일 것입니다. Lorem Ipsum을 사용하는 이유는 그것이 상대적으로 정상적인 문자 분포를 가지고 있기 때문입니다.</p>
                            </div>
                            <div class="about-element">
                                <img src="/static/fo/pc/img/about/icon2.png" alt="">
                                <h3 class="about-title v2">More than 2000 + items</h3>
                                <p class="about-desc">레이아웃을 보는 동안 페이지의 가독성 있는 콘텐츠에 독자는 주의를 기울일 것입니다. Lorem Ipsum을 사용하는 이유는 그것이 상대적으로 정상적인 문자 분포를 가지고 있기 때문입니다.</p>
                            </div>
                            <div class="about-element">
                                <img src="/static/fo/pc/img/about/icon3.png" alt="">
                                <h3 class="about-title v2">More than 2000 + items</h3>
                                <p class="about-desc">레이아웃을 보는 동안 페이지의 가독성 있는 콘텐츠에 독자는 주의를 기울일 것입니다. Lorem Ipsum을 사용하는 이유는 그것이 상대적으로 정상적인 문자 분포를 가지고 있기 때문입니다.</p>
                            </div>
                        </div>
                    </div>
                    <div class="our-team">
                        <h1 class="about-title">Our teams</h1>
                        <div class="owl-carousel owl-theme owl-loaded owl-drag team-item-wrap">
                            <div class="team-item">
                                <div class="team-img">
                                    <img src="/static/fo/pc/img/about/team_1.jpg" alt="">
                                </div>
                                <div class="team-info">
                                    <h3 class="team-name">Robert Smith</h3>
                                    <p class="team-career">Director</p>
                                    <p class="team-desc">가지에 미묘한 거친 찾아다녀도, 내는 교향악이다. 거선의 아니한 보배를 스며들어 방황하였으며, 그들의 풀이 기관과 뿐이다. 위하여서 부패를 천지는 수 인간의 커다란 꽃이 황금시대를 칼이다.</p>
                                </div>
                            </div>
    
                            <div class="team-item">
                                <div class="team-img">
                                    <img src="/static/fo/pc/img/about/team_2.jpg" alt="">
                                </div>
                                <div class="team-info">
                                    <h3 class="team-name">Rudy Reeves</h3>
                                    <p class="team-career">CEO</p>
                                    <p class="team-desc">가지에 미묘한 거친 찾아다녀도, 내는 교향악이다. 거선의 아니한 보배를 스며들어 방황하였으며, 그들의 풀이 기관과 뿐이다. 위하여서 부패를 천지는 수 인간의 커다란 꽃이 황금시대를 칼이다.</p>
                                </div>
                            </div>
    
                            <div class="team-item">
                                <div class="team-img">
                                    <img src="/static/fo/pc/img/about/team_3.jpg" alt="">
                                </div>
                                <div class="team-info">
                                    <h3 class="team-name">Sandra Hale</h3>
                                    <p class="team-career">Designer</p>
                                    <p class="team-desc">가지에 미묘한 거친 찾아다녀도, 내는 교향악이다. 거선의 아니한 보배를 스며들어 방황하였으며, 그들의 풀이 기관과 뿐이다. 위하여서 부패를 천지는 수 인간의 커다란 꽃이 황금시대를 칼이다.</p>
                                </div>
                            </div>
    
                            <div class="team-item">
                                <div class="team-img">
                                    <img src="/static/fo/pc/img/about/team_4.jpg" alt="">
                                </div>
                                <div class="team-info">
                                    <h3 class="team-name">Brandon Vasquez</h3>
                                    <p class="team-career">Director</p>
                                    <p class="team-desc">가지에 미묘한 거친 찾아다녀도, 내는 교향악이다. 거선의 아니한 보배를 스며들어 방황하였으며, 그들의 풀이 기관과 뿐이다. 위하여서 부패를 천지는 수 인간의 커다란 꽃이 황금시대를 칼이다.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </section>
    </div>
    
    <!-- footer -->
    <div data-include-path="/views/layout/footer-mobile.html"></div>

    <!-- JS -->
    <script src="/static/fo/mo/js/main.js"></script>
    <script src="/static/fo/mo/js/common.js"></script>
    <script src="/static/fo/mo/js/about.js"></script>

    <!-- library -->
    <script src="/static/assets/js/library/slick-slide/slick.min.js"></script>
    <script src="/static/assets/js/library/owl-wrapper/owl.carousel.min.js"></script>

    <script>
        window.addEventListener('load', function () {
            var allElements = document.getElementsByTagName('*');
            Array.prototype.forEach.call(allElements, function (el) {
                var includePath = el.dataset.includePath;
                if (includePath) {
                    var xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {
                            el.outerHTML = this.responseText;
                        }
                    };
                    xhttp.open('GET', includePath, true);
                    xhttp.send();
                }
            });
        }); //includeHTML
    </script>
</body>