<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문취소 신청 팝업</title>

    <link rel="stylesheet" href="/static/assets/css/library/selectric.css">
    <script src="/static/assets/js/library/jquery-selectric/jquery.selectric.min.js"></script>
</head>
<body>
    <div class="layer-inner">
        <!-- popup 타이틀 -->
        <div class="layer-head">
            <h2>주문 취소 신청</h2>
        </div>

        <!-- popup 내용 -->
        <div class="layer-cont">
            <!-- 마이페이지 -->
            <div class="my-shop">
                <form action="" name="" id="">
                    <!-- 상세정보 -->
                    <ul class="form-tbl">
                        <li>
                            <p>주문상품 선택</p>
                            <select name="" id="">
                                <option value="">상품을 선택해주세요.</option>
                                <option value="">Micro SDHC 카드(EVO PLUS/128GB/삼성)</option>
                            </select>
                        </li>

                        <li>
                            <p>신청 유형</p>
                            <input type="text" name="" id="" value="주문 취소" disabled>
                        </li>

                        <li>
                            <p>사유</p>
                            <textarea name="" id="" placeholder="텍스트를 입력 해주세요"></textarea>
                        </li>
                    </ul>

                    <!-- button area -->
                    <div class="btn-group">
                        <button type="submit" class="btn btn-dark">신청하기</button>
                        <button type="button" class="btn btn-basic close-pop">취소</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        /** 
         * jQuery Selectric
         * selectbox 라이브러리 실행
         */
        if ($(".selectric").length == 0) {
            $('select').selectric().on('selectric-init', function () {
                $('select').selectric();
            });
        }
    </script>
</body>
</html>