<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>취소/교환/반품 정보 팝업</title>

    <link rel="stylesheet" href="/static/assets/css/library/selectric.css">
    <script src="/static/assets/js/library/jquery-selectric/jquery.selectric.min.js"></script>
</head>
<body>
    <div class="layer-inner">
        <!-- 팝업 타이틀 -->
        <div class="layer-head">
            <h2>취소/교환/반품 정보</h2>
        </div>

        <!-- popup 내용 -->
        <div class="layer-cont">
            <!-- 마이페이지 -->
            <div class="my-shop">
                <form action="" name="" id="">
                    <!-- 상세정보 -->
                    <ul class="form-tbl">
                        <li>
                            <p>주문상품 선택</p>
                            <input type="text" name="" id="" value="Micro SDHC 카드(EVO PLUS/128GB/삼성)" disabled>
                        </li>
        
                        <li>
                            <p>신청 유형</p>
                            <input type="text" name="" id="" value="주문취소" disabled>
                        </li>

                        <li>
                            <p>신청일</p>
                            <input type="text" name="" id="" value="YYYYY-MM-DD hh:mm:ss" disabled>
                        </li>
        
                        <li>
                            <p>사유</p>
                            <textarea name="" id="" disabled>User가 입력한 텍스트를 노출합니다. 수정이 불가합니다.</textarea>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>

    <script>
        /** 
         * jQuery Selectric
         * selectbox 라이브러리 실행
         */
        if ($(".selectric").length == 0) {
            $('select').selectric().on('selectric-init', function () {
                $('select').selectric();
            });
        }
    </script>
</body>
</body>
</html>