<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>리뷰 작성 poopup</title>
</head>

<body>
    <div class="layer-inner">
        <!-- 팝업 타이틀 -->
        <div class="layer-head">
            <h2>리뷰 작성하기</h2>
        </div>

        <!-- 팝업 내용 -->
        <div class="layer-cont add-review-wrap">
            <!-- review 입력 -->
            <form action="" name="" id="">
                <ul class="form-group">
                    <!-- 별점 추가 -->
                    <li>
                        <div class="add-rating">
                            <img src="/static/fo/assets/img/common/star.png" class="star" alt="" data-value="1">
                            <img src="/static/fo/assets/img/common/star.png" class="star" alt="" data-value="2">
                            <img src="/static/fo/assets/img/common/star.png" class="star" alt="" data-value="3">
                            <img src="/static/fo/assets/img/common/star.png" class="star" alt="" data-value="4">
                            <img src="/static/fo/assets/img/common/star.png" class="star" alt="" data-value="5">
                        </div>
                    </li>
                
                    <!-- 리뷰내용 입력 -->
                    <li>
                        <h3>리뷰 내용</h3>
                        <textarea name="" id="" class="custom-textarea"></textarea>
                    </li>
                
                    <li>
                        <h3 class="ess">이름</h3>
                        <input type="text" name="">
                    </li>
                
                    <li>
                        <h3 class="ess">이메일</h3>
                        <input type="text" name="">
                    </li>
                
                    <li>
                        <input type="checkbox" name="remember" id="userInfo" class="basic-chkbox">
                        <label for="userInfo" class="basic-chkbox-label">다음에 댓글을 달 때를 위해 내 이름, 이메일, 웹사이트를 이 브라우저에 저장하세요.</label>
                    </li>
                </ul>

                <div class="btn-group">
                    <button type="submit" class="btn btn-gradient">리뷰 등록</button>
                </div>
            </form>
        </div>
    </div>

    <script src="/static/fo/pc/js/prod.js"></script>
</body>
</html>