<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>페이지 로딩</title>

    <!-- css -->
    <link rel="stylesheet" href="/static/fo/pc/css/common.css">
    <link rel="stylesheet" href="/static/fo/pc/css/contents.css">

    <!-- fontawesome CDN -->
    <script src="https://kit.fontawesome.com/20d055f060.js" crossorigin="anonymous"></script>
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container">
        <!-- 페이지 로딩 -->
        <div class="load-wrapp">
            <div class="loading">
                <div class="load">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            
                <h2>정보를 불러오는 중입니다.<br> <span>잠시만 기다려주세요.</span></h2>
                <p>이 화면이 지속되면 페이지를 <span>새로고침(F5)</span> 해주세요</p>
            </div>

            <div class="bg-dark"></div>
        </div>

        <!-- header -->
        <div data-include-path="/views/layout/header.html"></div>

        <!-- contents -->
        <section class="contents"></section>

        <!-- footer -->
        <div data-include-path="/views/layout/footer.html"></div>
    </div>

    <script>
        window.addEventListener('load', function () {
            var allElements = document.getElementsByTagName('*');
            Array.prototype.forEach.call(allElements, function (el) {
                var includePath = el.dataset.includePath;
                if (includePath) {
                    var xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {
                            el.outerHTML = this.responseText;
                        }
                    };
                    xhttp.open('GET', includePath, true);
                    xhttp.send();
                }
            });
        }); //includeHTML
    </script>
</body>
</html>