<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 변경</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="/static/assets/favicon/favicon.png" type="image/x-icon">

    <!-- css -->
    <link rel="stylesheet" href="/static/fo/pc/css/common.css">
    <link rel="stylesheet" href="/static/fo/pc/css/contents.css">

    <!-- fontawesome CDN -->
    <script src="https://kit.fontawesome.com/20d055f060.js" crossorigin="anonymous"></script>
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container">
        <!-- header -->
        <div data-include-path="/views/layout/header.html"></div>

        <!-- contents -->
        <section class="contents">

            <!-- page location -->
            <div class="location">
                <ul>
                    <li><a href="/views/main/index.html">Home</a></li>
                    <li class="current">비밀번호 변경</li>
                </ul>
            </div>

            <div class="user-wrap">
                <h2 class="tit">비밀번호 변경</h2>

                <form action="" name="" id="">
                    <div class="confirm-box">
                        <div class="icon">
                            <img src="/static/fo/assets/img/common/mypage/password-check-icon.png" alt="">
                        </div>

                        <p>
                            주기적인 비밀번호 변경을 통해 개인정보를 안전하게 보호하세요.
                        </p>
                        
                        <fieldset class="custom-input">
                            <p>새 비밀번호 <span class="ess">필수</span></p>
                            <input type="password" name="" id="" placeholder="6~16자 영문, 숫자, 특수문자 1개 이상씩 혼용 필수">
                            <input type="password" name="" id="" placeholder="비밀번호 확인">
                        </fieldset>

                        <!-- btn area -->
                        <div class="btn-group">
                            <a href="javascript:void(0);" class="btn btn-gradient">비밀번호 변경</a>
                        </div>
                    </div>
                </form>
            </div>

        </section>

        <!-- footer -->
        <div data-include-path="/views/layout/footer.html"></div>
    </div>

    <!-- JS -->
    <script src="/static/fo/pc/js/common.js"></script>

    <script>
        window.addEventListener('load', function () {
            var allElements = document.getElementsByTagName('*');
            Array.prototype.forEach.call(allElements, function (el) {
                var includePath = el.dataset.includePath;
                if (includePath) {
                    var xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {
                            el.outerHTML = this.responseText;
                        }
                    };
                    xhttp.open('GET', includePath, true);
                    xhttp.send();
                }
            });
        }); //includeHTML
    </script>
</body>
</html>