<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지 : 회원정보 수정</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="/static/assets/favicon/favicon.png" type="image/x-icon">

    <!-- css -->
    <link rel="stylesheet" href="/static/fo/pc/css/common.css">
    <link rel="stylesheet" href="/static/fo/pc/css/contents.css">
    <link rel="stylesheet" href="/static/fo/pc/css/popup.css">

    <!-- library css -->
    <link rel="stylesheet" href="/static/assets/css/library/colorbox.css">

    <!-- fontawesome CDN -->
    <script src="https://kit.fontawesome.com/20d055f060.js" crossorigin="anonymous"></script>
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container">
        <!-- header -->
        <div data-include-path="/views/layout/header.html"></div>

        <!-- contents -->
        <section class="contents">

            <!-- page location -->
            <div class="location">
                <ul>
                    <li><a href="/views/main/index.html">Home</a></li>
                    <li><a href="/views/mypage/index.html">마이페이지</a></li>
                    <li class="current">회원정보 수정</li>
                </ul>
            </div>

            <div class="user-wrap join-area">
                <div class="signup">
                    <h2 class="tit">회원정보 수정</h2>

                    <form action="" name="" id="">
                        <div class="modify-form">
                            <!-- 회원가입 정보 입력 form -->
                            <ul class="form-wrap">
                                <li>
                                    <div class="inp-group">
                                        <label for="userId">아이디</label>
                                        <input type="text" name="" id="userId" value="{userID}" disabled>
                                    </div>
                                </li>

                                <li>
                                    <div class="inp-group">
                                        <label for="userName">이름 <span class="ess">필수</span></label>
                                        <input type="text" name="" id="userName" value="홍길동">
                                        <!-- error message -->
                                        <div class="error-msg">error message text</div>
                                    </div>
                                </li>
                                

                                <li>
                                    <div class="inp-group">
                                        <label for="phone">휴대전화</label>
                                        <input type="text" name="" id="phone" placeholder="‘하이픈(-)’ 없이 숫자만 입력">
                                        <!-- error message -->
                                        <div class="error-msg">error message text</div>
                                    </div>
                                </li>

                                <li>
                                    <div class="inp-group">
                                        <label for="eMail">이메일 <span class="ess">필수</span></label>
                                        <input type="text" name="" id="eMail" placeholder="이메일 주소">
                                        
                                        <!-- error message -->
                                        <div class="error-msg">error message text</div>
                                    </div>
                                </li>
                            </ul>

                            <!-- 약관 동의 -->
                            <div class="chk-area">
                                <div class="chk-box">
                                    <input type="checkbox" name="" id="selectAll" class="basic-chkbox" checked>
                                    <label for="selectAll" class="basic-chkbox-label">전체동의</label>
                                </div>

                                <div class="chk-box">
                                    <input type="checkbox" name="" id="consent1" class="basic-chkbox">
                                    <label for="consent1" class="basic-chkbox-label">이용약관에 동의 <span>필수</span></label>

                                    <!-- 약관내용 자세히 보기 : click > 팝업 오픈 -->
                                    <a href="#" class="view-more fr open-terms">내용보기</a>
                                </div>
                                <div class="chk-box">
                                    <input type="checkbox" name="" id="consent2" class="basic-chkbox">
                                    <label for="consent2" class="basic-chkbox-label">개인정보 수집 및 이용 항목에 동의 <span>필수</span></label>

                                    <!-- 약관내용 자세히 보기 : click > 팝업 오픈 -->
                                    <a href="#" class="view-more fr open-privacy">내용보기</a>
                                </div>
                                <div class="chk-box">
                                    <input type="checkbox" name="" id="consent3" class="basic-chkbox">
                                    <label for="consent3" class="basic-chkbox-label">마케팅이용약관 동의 <span>선택</span></label>

                                    <!-- 약관내용 자세히 보기 : click > 팝업 오픈 -->
                                    <a href="#" class="view-more fr open-marketing">내용보기</a>
                                </div>
                                
                                <!-- error message -->
                                <div class="error-msg">필수 약관에 동의해주세요.</div>
                            </div>

                            <div class="btn-group">
                                <a href="/views/user/withdraw/form.html" class="btn btn-basic">회원탈퇴</a>
                                <button type="submit" class="btn btn-primary">정보 수정</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </section>

        <!-- footer -->
        <div data-include-path="/views/layout/footer.html"></div>
    </div>

    <!-- JS -->
    <script src="/static/fo/pc/js/common.js"></script>
    <script src="/static/fo/pc/js/popup.js"></script>

    <!-- library -->
    <script src="/static/assets/js/library/jquery-colorbox/jquery.colorbox-min.js"></script>

    <script>
        window.addEventListener('load', function () {
            var allElements = document.getElementsByTagName('*');
            Array.prototype.forEach.call(allElements, function (el) {
                var includePath = el.dataset.includePath;
                if (includePath) {
                    var xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {
                            el.outerHTML = this.responseText;
                        }
                    };
                    xhttp.open('GET', includePath, true);
                    xhttp.send();
                }
            });
        }); //includeHTML
    </script>
</body>
</html>