<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>결제관련 이용동의 팝업</title>
</head>
<body>
    <div class="layer-inner">
        <!-- popup 타이틀 -->
        <div class="layer-head">
            <h2>OOO 이용 동의</h2>
        </div>

        <!-- popup 내용 -->
        <div class="layer-cont">
            임시 팝업으로 화면에 띄우기 위해서 만듦
        </div>
    </div>
</body>
</html>