<footer>
    <!-- feature -->
    <div class="feature-wrap">
        <div class="feature">
            <div class="feature-block">
                <div class="feature-block-img"><img src="/static/fo/pc/img/feature/truck.png" alt="" class="img-reponsive"></div>
                <div class="feature-info">
                    <h3>Worldwide Delivery</h3>
                    <p>5개 국어로 제공되는 사이트를 통해 200개 이상의 국가와 지역으로 배송합니다.</p>
                </div>
            </div>
            <div class="feature-block">
                <div class="feature-block-img"><img src="/static/fo/pc/img/feature/credit-card.png" alt="" class="img-reponsive"></div>
                <div class="feature-info">
                    <h3>Safe Payment</h3>
                    <p>세계에서 가장 인기 있고 안전한 결제 방법으로 결제할 수 있습니다.</p>
                </div>
            </div>
            <div class="feature-block">
                <div class="feature-block-img"><img src="/static/fo/pc/img/feature/safety.png" alt="" class="img-reponsive"></div>
                <div class="feature-info">
                    <h3>Shop with Confidence</h3>
                    <p>당사의 구매자 보호 정책은 클릭부터 배송까지 귀하의 구매를 보호합니다.</p>
                </div>
            </div>
            <div class="feature-block">
                <div class="feature-block-img"><img src="/static/fo/pc/img/feature/telephone.png" alt="" class="img-reponsive"></div>
                <div class="feature-info">
                    <h3>24/7 Help Center</h3>
                    <p>원활한 쇼핑 경험을 위해 24시간 언제나 도움을 받을 수 있습니다.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="foot-top">
        <div class="f-top">
            <div class="about">
                <div class="f-logo">
                    <a href="#"><img src="/static/fo/assets/img/common/logo.png" alt="" class="img-reponsive"></a>
                </div>
                <ul class="biz-info">
                    <li class="address">
                        <span>경기 성남시 중원구 둔촌대로388번길 24 <br>우림라이온스3차</span>
                    </li>
                    <li class="phone">
                        <span>(+123) 456 789 - (+123) 666 888</span>
                    </li>
                    <li class="email">
                        <span>Contact@yourcompany.com</span>
                    </li>
                    <li class="time">
                        <span>Mon-Sat 9:00pm - 5:00pm  &nbsp;&nbsp;&nbsp;  Sun : Closed</span>
                    </li>
                </ul>
                <div class="social">
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-dribbble"></a>
                    <a href="#" class="fa fa-behance"></a>
                    <a href="#" class="fa fa-instagram"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="f-bottom">
        <div class="left-layout"><span>© 2010-2023 EngoTheme. All rights reserved.</span></div>
    </div>
</footer>