
<footer>
    <div class="foot-top">
        <!-- FNB -->
        <ul class="fnb">
            <li><a href="../shop/about.html">회사소개</a></li>
            <li><a href="../member/privacy.html"><span>개인정보처리방침</span></a></li>
            <li><a href="../member/terms.html">이용약관</a></li>
            <li><a href="../cscenter/notice/list.html">공지사항</a></li>
            <li><a href="../cscenter/faq/list.html">자주 묻는 FAQ</a></li>
        </ul>
    </div>

    <div class="foot-cont">
        <!-- 고객센터 정보 -->
        <article class="cs-info">
            <!-- 고개센터 전화번호 -->
            <div class="phone-num">1234-5678</div>

            <!-- 상담시간 -->
            <div class="time">
                <dl>
                    <dt>평일</dt>
                    <dd>hh:mm ~ hh:mm</dd>
                
                    <dt>점심시간</dt>
                    <dd>hh:mm ~ hh:mm</dd>
                </dl>
                
                <p>토/일요일, 공휴일은 휴무입니다.</p>
            </div>
        </article>

        <!-- 회사 정보 -->
        <article class="biz-info">
            <strong class="biz-name">soleo</strong> 경기도 성남시 중원구 상대원동 5445, 우림라이온스밸리3차 602, 603호 <span>대표</span> 김철수<br>
            <span>사업자등록번호</span> 000-11-00000 <span>통신판매업신고번호</span> 제2015-서울마포-1058호<br>
            <span>Fax</span> 031-123-4567 <span>E-mail</span> soler@soleo.kr
        </article>

        <p class="copyright">copyright 2012 Soleo.Co.,Ltd. all rights reserved.</p>
    </div>
</footer>

<!-- scroll top -->
<aside class="scroll-top">
    <i class="fa-solid fa-arrow-up"></i>
</aside>