<header>
    <!-- ctgy-layer -->
    <div class="ctgy-layer">
        <div class="ctgy-menu">
            <div class="close-icon">
                <i class="fa-regular fa-circle-xmark"></i>
            </div>
            <form action="">
                <div>
                    <input type="text" placeholder="키워드를 입력해주세요">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </form>
            <ul class="gnb-wrap">
                <li>
                    <a href="javascript:;" class="accordion">Home</a>

                    <div class="panel">
                        <ul class="submenu">
                            <li><a href="/e_come/views/main/index-mobile.html">Demo 1</a></li>
                            <li><a href="/e_come/views/main/index2-mobile.html">Demo 2</a></li>
                        </ul>
                    </div>
                </li>

                <li>
                    <a href="javascript:;" class="accordion">Shop</a>

                    <div class="panel mega-menu">
                        <ul class="submenu">
                            <li><strong>TV & Video</strong></li>
                            <li><a href="/e_come/views/prod/list-mobile.html">TVs by Type</a></li>
                            <li><a href="/e_come/views/prod/list-mobile.html">Home Audio</a></li>
                            <li><a href="/e_come/views/prod/list-mobile.html">Blu-ray & DVD Players</a></li>
                        </ul>
                        
                        <ul class="submenu">
                            <li><strong>홈 오디오</strong></li>
                            <li><a href="/e_come/views/prod/list-mobile.html">Home theater</a></li>
                            <li><a href="/e_come/views/prod/list-mobile.html">Speakers</a></li>
                            <li><a href="/e_come/views/prod/list-mobile.html">Accessories</a></li>
                        </ul>
                        
                        <ul class="submenu">
                            <li><strong>핸드폰 용품</strong></li>
                            <li><a href="/e_come/views/prod/list-mobile.html">Cell Phones</a></li>
                            <li><a href="/e_come/views/prod/list-mobile.html">Cases</a></li>
                            <li><a href="/e_come/views/prod/list-mobile.html">Accessories</a></li>
                            <li><a href="/e_come/views/prod/list-mobile.html">Connected Devices</a></li>
                        </ul>
                    </div>
                </li>

                <li>
                    <a href="javascript:;" class="accordion">Event</a>

                    <div class="panel">
                        <ul class="submenu">
                            <li><a href="#">event lsit</a></li>
                        </ul>
                    </div>
                </li>

                <li>
                    <a href="javascript:;" class="accordion">All categlories</a>

                    <div class="panel">
                        <ul class="submenu">
                            <li><a href="/e_come/views/prod/list.html">Mirrorless Cameras</a></li>
                            <li><a href="/e_come/views/prod/list.html">Lenses</a></li>
                            <li><a href="/e_come/views/prod/list.html">Photography Drones</a></li>
                            <li><a href="/e_come/views/prod/list.html">Sports & Action Cameras</a></li>
                            <li><a href="/e_come/views/prod/list.html">Optics</a></li>
                            <li><a href="/e_come/views/prod/list.html">Accessories</a></li>
                        </ul>
                    </div>
                </li>

                <li>
                    <a href="/e_come/views/shop/about-mobile.html" class="accordion">About</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="top-bnr"><img src="/static/fo/pc/img/banner/top-banner.png" alt=""></div>
    <div class="top-menu">
        <div>My Account</div>
        <div class="right-layout">
            <div class="top-menu dropdown-menu">
                <a>
                    <img src="/static/fo/assets/img/common/icon-l.png" alt="">
                    <span>English <i class="fa-solid fa-caret-down"></i></span>
                </a>
                <ul class="topbar-submenu dropdown">
                    <li><a href="#">EN</a></li>
                    <li><a href="#">KO</a></li>
                    <li><a href="#">FR</a></li>
                </ul>
            </div>
            <div class="top-menu dropdown-menu">
                <a>
                    <span>KRW <i class="fa-solid fa-caret-down"></i></span>
                </a>
                <ul class="topbar-submenu dropdown">
                    <li><a href="#">KRW</a></li>
                    <li><a href="#">USD</a></li>
                    <li><a href="#">EUR</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="nav">
        <a href="/e_come/views/main/index.html" class="hd-logo"><img src="/static/fo/assets/img/common/logo.png" alt="logo"></a>
        <div class="util-icon">
            <div class="heart dropdown-toggle" >
                <a href="#" class="dropdown-menu">
                    <img src="/static/fo/assets/img/common/icon-heart.png" alt="">
                </a>
                <div class="dropdown dropdown-heart">
                    <ul class="mini-products-list">
                        <li class="item-cart">
                            <div class="product-img-wrap">
                                <a href="#"><img src="/static/fo/assets/img/product/cart1.jpg" alt="" class="img-reponsive"></a>
                            </div>
                            <div class="product-details">
                                <div class="inner-left">
                                    <div class="product-name"><a href="#">Harman Kardon Onyx Studio</a></div>
                                    <div class="product-price">
                                        600,000원 <span>( x2)</span>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="e-del"><i class="fa-solid fa-xmark"></i></a>
                        </li>
                        <li class="item-cart">
                            <div class="product-img-wrap">
                                <a href="#"><img src="/static/fo/assets/img/product/cart1.jpg" alt="" class="img-reponsive"></a>
                            </div>
                            <div class="product-details">
                                <div class="inner-left">
                                    <div class="product-name"><a href="#">Harman Kardon Onyx Studio </a></div>
                                    <div class="product-price">
                                        480,000원 <span>( x2)</span>
                                    </div>
                                </div>
                            </div>
                             <a href="#" class="e-del"><i class="fa-solid fa-xmark"></i></a>
                        </li>
                        <li class="item-cart">
                            <div class="product-img-wrap">
                                <a href="#"><img src="/static/fo/assets/img/product/cart1.jpg" alt="" class="img-reponsive"></a>
                            </div>
                            <div class="product-details">
                                <div class="inner-left">
                                    <div class="product-name"><a href="#">Harman Kardon Onyx Studio </a></div>
                                    <div class="product-price">
                                        380,000원 <span>( x2)</span>
                                    </div>
                                </div>
                            </div>
                             <a href="#" class="e-del"><i class="fa-solid fa-xmark"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="cart-icon dropdown-toggle">
                <a href="#" class="dropdown-menu cart-menu">
                    <img src="/static/fo/assets/img/common/icon-cart.png" alt="">
                    <span class="cart-count">0</span>
                </a>
                <div class="dropdown dropdown-cart">
                    <ul class="mini-products-list">
                        <li class="item-cart">
                            <div class="product-img-wrap">
                                <a href="#"><img src="/static/fo/assets/img/product/cart1.jpg" alt="" class="img-reponsive"></a>
                            </div>
                            <div class="product-details">
                                <div class="inner-left">
                                    <div class="product-name"><a href="#">Harman Kardon Onyx Studio </a></div>
                                    <div class="product-price">
                                        270,000원 <span>( x2)</span>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="e-del"><i class="fa-solid fa-xmark"></i></a>
                        </li>
                        <li class="item-cart">
                            <div class="product-img-wrap">
                                <a href="#"><img src="/static/fo/assets/img/product/cart1.jpg" alt="" class="img-reponsive"></a>
                            </div>
                            <div class="product-details">
                                <div class="inner-left">
                                    <div class="product-name"><a href="#">Harman Kardon Onyx Studio </a></div>
                                    <div class="product-price">
                                        520,000원 <span>( x2)</span>
                                    </div>
                                </div>
                            </div>
                             <a href="#" class="e-del"><i class="fa-solid fa-xmark"></i></a>
                        </li>
                        <li class="item-cart">
                            <div class="product-img-wrap">
                                <a href="#"><img src="/static/fo/assets/img/product/cart1.jpg" alt="" class="img-reponsive"></a>
                            </div>
                            <div class="product-details">
                                <div class="inner-left">
                                    <div class="product-name"><a href="#">Harman Kardon Onyx Studio </a></div>
                                    <div class="product-price">
                                        320,000원 <span>( x2)</span>
                                    </div>
                                </div>
                            </div>
                             <a href="#" class="e-del"><i class="fa-solid fa-xmark"></i></a>
                        </li>
                    </ul>
                    <div class="bottom-cart">
                        <div class="cart-price">
                            <span>Subtotal</span>
                            <span class="price-total">1,200,000원</span>
                        </div>
                        <div class="button-cart">
                            <a href="#" class="btn-submit view-btn">View Cart</a>
                            <a href="#" class="btn-submit">Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="ctgy-btn"><i class="fa-solid fa-bars"></i></a>
        </div>
    </div>

</header>