<header>
    <!-- head top -->
    <div class="hd-top">
        <div class="inner">
            <ul class="uitill">
                <li>
                    <a href="../auth/login.html">로그인</a>
                </li>

                <!-- 로그인 상태에서는 '회원정보 수정'으로 변경 -->
                <li>
                    <a href="../auth/signup/form.html">회원가입</a>
                </li>
                
                <li>
                    <!-- 자주묻는 FAQ 페이지로 이동 -->
                    <a href="../cscenter/faq/list.html">고객센터</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="hd-center">
        <div class="inner">
            <!-- logo -->
            <a href="../main/index.html" class="logo"">LOGO</a>
            
            <!-- search -->
            <div class="top-search">
                <form action="" name="" id="">
                    <div class="group">
                        <!-- 검색어 입력 -->
                        <input type="text"placeholder="검색어를 입력해주세요">

                        <!-- 검색 카테고리 -->
                        <div class="ctgy-select">
                            <ul class="default-option">
                                <li>
                                    <div class="option">전체 카테고리</div>
                                </li>
                            </ul>

                            <ul class="select-ul">
                                <li class="option">TV & Video</li>
                                <li class="option">홈 오디오</li>
                                <li class="option">카메라 용품</li>
                                <li class="option">핸드폰 용품</li>
                                <li class="option">헤드폰</li>
                                <li class="option">차량 용품</li>
                                <li class="option">전자 기기</li>
                            </ul>
                        </div>

                        <!-- 검색 버튼 -->
                        <button type="button" class="search-btn">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                </form>
            </div>
            
            <!-- user menu -->
            <div class="my-menu">
                <ul class="icon-menu">
                    <!-- 마이페이지 -->
                    <li>
                        <a href="../mypage/index.html">
                            <i class="fa-regular fa-user"></i>
                        </a>
                    </li>
                
                    <!-- 위시리스트 -->
                    <li>
                        <a href="javascript:void(0);" class="toggle-menu">
                            <i class="fa-regular fa-heart"></i>
                        </a>
                        <sup>77</sup>
                
                        <!-- 목록 : 최근 담은 상품 3개까지만 노출 -->
                        <ul class="wish-list toggle-box">
                            <li class="item">
                                <!-- 상품 썸네일 512x512(px) -->
                                <a href="../prod/detail.html" class="thumbnail">
                                    <img src="../../../static/fo/assets/img/product/headset_1.jpg" alt="" class="">
                                </a>
                        
                                <!-- 상품 설명 -->
                                <div class="prod-desc">
                                    <h3 class="prod-name">Esonstyle 로즈 골든 블루투스 헤드폰</h3>
                                    <p class="price">270,000원</p>
                        
                                    <!-- 리스트 삭제 버튼 -->
                                    <a href="javascript:void(0);" class="remove">
                                        <i class="fa-regular fa-circle-xmark"></i>
                                    </a>
                                </div>
                            </li>
                        
                            <li class="item">
                                <!-- 상품 썸네일 512x512(px) -->
                                <a href="../prod/detail.html" class="thumbnail">
                                    <img src="../../../static/fo/assets/img/product/security.jpg" alt="" class="">
                                </a>
                        
                                <!-- 상품 설명 -->
                                <div class="prod-desc">
                                    <h3 class="prod-name">이글루캠 S3 가정용 홈 카메라 아기 반려동물 CCTV </h3>
                                    <p class="price">270,000원</p>
                        
                                    <!-- 리스트 삭제 버튼 -->
                                    <a href="javascript:void(0);" class="remove">
                                        <i class="fa-regular fa-circle-xmark"></i>
                                    </a>
                                </div>
                            </li>
                        
                            <li class="item">
                                <!-- 상품 썸네일 512x512(px) -->
                                <a href="../prod/detail.html" class="thumbnail">
                                    <img src="../../../static/fo/assets/img/product/headset_2.jpg" alt="" class="">
                                </a>
                        
                                <!-- 상품 설명 -->
                                <div class="prod-desc">
                                    <h3 class="prod-name">Esonstyle 스카이블루 블루투스 헤드폰</h3>
                                    <p class="price">270,000원</p>
                        
                                    <!-- 리스트 삭제 버튼 -->
                                    <a href="javascript:void(0);" class="remove">
                                        <i class="fa-regular fa-circle-xmark"></i>
                                    </a>
                                </div>
                            </li>
                            
                            <li>
                                <a href="../mypage/wished/list.html" class="btn move-btn">관심상품 보러가기</a>
                            </li>
                        </ul>
                    </li>
                
                    <!-- 장바구니 -->
                    <li>
                        <a href="../cart/list.html">
                            <i class="fa-solid fa-basket-shopping"></i>
                        </a>
                        <sup>7</sup>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- GNB -->
    <nav>
        <div class="inner">
            <!-- 전체 카테고리 -->
            <div class="category">
                <!-- on/off 버튼 -->
                <div class="menu-all-btn"><span>전체 카테고리</span></div>

                <ul class="menu-all">
                    <li class="menu-item">
                        <!-- 1dapth -->
                        <a href="../prod/list.html">컴퓨터 용품/전자기기</a>

                        <div class="depth2">
                            <!-- 2depth 카테고리 -->
                            <ul class="ctgy">
                                <li><h3>컴퓨터 용품/전자기기</h3></li>
                                <li><a href="../prod/list.html">컴퓨터 주변기기</a></li>
                                <li><a href="../prod/list.html">디지털 기기</a></li>
                                <li><a href="../prod/list.html">저장 장치</a></li>
                                <li><a href="../prod/list.html">소프트웨어</a></li>
                            </ul>

                            <!-- 홍보 상품 영역 -->
                            <a href="../prod/detail.html" class="promo-area">
                                <div class="name-box">
                                    <!-- 브랜드명 -->
                                    <p class="brand-name">SONY</p>
                                    <!-- 상품명 -->
                                    <h5 class="prod-name">하만 카돈 오닉스<br> 스튜디오</h5>
                                </div>
                            
                                <!-- 상품 썸네일 -->
                                <div class="thumnail">
                                    <img src="../../..../../../static/fo/assets/img/product/sound3.jpg" alt="">
                                    
                                    <!-- 할인율 -->
                                    <div class="disc-tag">10%</div>
                                </div>
                            
                                <div class="price-box">
                                    <!-- 정상가격 -->
                                    <p class="market-price">1,336,500원</p>
                                    <!-- 판매가격 -->
                                    <p class="price">1,215,000원</p>
                                </div>
                            </a>
                        </div>
                    </li>

                    <li class="menu-item">
                        <!-- 1dapth -->
                        <a href="../prod/list.html">프린터 잉크/토너</a>

                        <div class="depth2">
                            <!-- 2depth 카테고리 -->
                            <ul class="ctgy">
                                <li><h3>프린터 잉크/토너</h3></li>
                                <li><a href="../prod/list.html">정품 잉크</a></li>
                                <li><a href="../prod/list.html">정품 토너</a></li>
                                <li><a href="../prod/list.html">재생 토너</a></li>
                                <li><a href="../prod/list.html">리본/카트리지</a></li>
                            </ul>

                            <!-- 홍보 상품 영역 -->
                            <a href="../prod/detail.html" class="promo-area">
                                <div class="name-box">
                                    <!-- 브랜드명 -->
                                    <p class="brand-name">SONY</p>
                                    <!-- 상품명 -->
                                    <h5 class="prod-name">하만 카돈 오닉스<br> 스튜디오</h5>
                                </div>
                            
                                <!-- 상품 썸네일 -->
                                <div class="thumnail">
                                    <img src="../../../static/fo/assets/img/product/sound3.jpg" alt="">
                                    
                                    <!-- 할인율 -->
                                    <div class="disc-tag">10%</div>
                                </div>
                            
                                <div class="price-box">
                                    <!-- 정상가격 -->
                                    <p class="market-price">1,336,500원</p>
                                    <!-- 판매가격 -->
                                    <p class="price">1,215,000원</p>
                                </div>
                            </a>
                        </div>
                    </li>

                    <li class="menu-item">
                        <!-- 1dapth -->
                        <a href="../prod/list.html">생활/오피스 잡화</a>

                        <div class="depth2">
                            <!-- 2depth 카테고리 -->
                            <ul class="ctgy">
                                <li><h3>생활/오피스 잡화</h3></li>
                                <li><a href="../prod/list.html">생활 용품</a></li>
                                <li><a href="../prod/list.html">오피스 잡화</a></li>
                                <li><a href="../prod/list.html">산업/안전 용품</a></li>
                                <li><a href="../prod/list.html">청소용품</a></li>
                                <li><a href="../prod/list.html">주방용품</a></li>
                                <li><a href="../prod/list.html">욕실용품</a></li>
                                <li><a href="../prod/list.html">스포츠용품/보호대</a></li>
                                <li><a href="../prod/list.html">포장소품/케이스</a></li>
                            </ul>

                            <!-- 홍보 상품 영역 -->
                            <a href="../prod/detail.html" class="promo-area">
                                <div class="name-box">
                                    <!-- 브랜드명 -->
                                    <p class="brand-name">SONY</p>
                                    <!-- 상품명 -->
                                    <h5 class="prod-name">하만 카돈 오닉스<br> 스튜디오</h5>
                                </div>
                            
                                <!-- 상품 썸네일 -->
                                <div class="thumnail">
                                    <img src="../../../static/fo/assets/img/product/sound3.jpg" alt="">
                                    
                                    <!-- 할인율 -->
                                    <div class="disc-tag">10%</div>
                                </div>
                            
                                <div class="price-box">
                                    <!-- 정상가격 -->
                                    <p class="market-price">1,336,500원</p>
                                    <!-- 판매가격 -->
                                    <p class="price">1,215,000원</p>
                                </div>
                            </a>
                        </div>
                    </li>

                    <li class="menu-item">
                        <!-- 1dapth -->
                        <a href="../prod/list.html">필기구 일반/고급</a>

                        <div class="depth2">
                            <!-- 2depth 카테고리 -->
                            <ul class="ctgy">
                                <li><h3>필기구 일반/고급</h3></li>
                                <li><a href="../prod/list.html">볼펜</a></li>
                                <li><a href="../prod/list.html">싸인펜</a></li>
                                <li><a href="../prod/list.html">마카/매직</a></li>
                                <li><a href="../prod/list.html">샤프/샤프심</a></li>
                                <li><a href="../prod/list.html">연필/색연필</a></li>
                                <li><a href="../prod/list.html">연필깍이/지우개</a></li>
                                <li><a href="../prod/list.html">고급필기구</a></li>
                            </ul>

                            <!-- 홍보 상품 영역 -->
                            <a href="../prod/detail.html" class="promo-area">
                                <div class="name-box">
                                    <!-- 브랜드명 -->
                                    <p class="brand-name">SONY</p>
                                    <!-- 상품명 -->
                                    <h5 class="prod-name">하만 카돈 오닉스<br> 스튜디오</h5>
                                </div>
                            
                                <!-- 상품 썸네일 -->
                                <div class="thumnail">
                                    <img src="../../../static/fo/assets/img/product/sound3.jpg" alt="">
                                    
                                    <!-- 할인율 -->
                                    <div class="disc-tag">10%</div>
                                </div>
                            
                                <div class="price-box">
                                    <!-- 정상가격 -->
                                    <p class="market-price">1,336,500원</p>
                                    <!-- 판매가격 -->
                                    <p class="price">1,215,000원</p>
                                </div>
                            </a>
                        </div>
                    </li>

                    <li class="menu-item">
                        <!-- 1dapth -->
                        <a href="../prod/list.html">데스크 액세서리</a>

                        <div class="depth2">
                            <!-- 2depth 카테고리 -->
                            <ul class="ctgy">
                                <li><h3>데스크 액세서리</h3></li>
                                <li><a href="../prod/list.html">서류받침/책꽂이</a></li>
                                <li><a href="../prod/list.html">일반서류함</a></li>
                                <li><a href="../prod/list.html">소품정리함</a></li>
                                <li><a href="../prod/list.html">원목 데스크탑 받침대</a></li>
                            </ul>

                            <!-- 홍보 상품 영역 -->
                            <a href="../prod/detail.html" class="promo-area">
                                <div class="name-box">
                                    <!-- 브랜드명 -->
                                    <p class="brand-name">SONY</p>
                                    <!-- 상품명 -->
                                    <h5 class="prod-name">하만 카돈 오닉스<br> 스튜디오</h5>
                                </div>
                            
                                <!-- 상품 썸네일 -->
                                <div class="thumnail">
                                    <img src="../../../static/fo/assets/img/product/sound3.jpg" alt="">
                                    
                                    <!-- 할인율 -->
                                    <div class="disc-tag">10%</div>
                                </div>
                            
                                <div class="price-box">
                                    <!-- 정상가격 -->
                                    <p class="market-price">1,336,500원</p>
                                    <!-- 판매가격 -->
                                    <p class="price">1,215,000원</p>
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            
            <!-- gnb menu -->
            <ul class="gnb">
                <li>
                    <a href="../prod/category-list.html">신상품</a>
                </li>
                <li>
                    <a href="../prod/list.html">베스트 상품</a>
                </li>
                <li>
                    <a href="../prod/promotion/list.html">기획전</a>
                </li>
                <li>
                    <a href="../prod/category-list.html">브랜드</a>
                </li>
                <li>
                    <a href="../event/list.html">이벤트</a>
                </li>
            </ul>
        </div>
    </nav>
</header>